In [1]:
import pandas as pd

In [56]:
# Read the data
gold = pd.read_csv('gold_stocks_price.csv')
# View the data
print(gold)
# View the number of rows and columns
print(gold.shape)
# View the data types
print(gold.dtypes)

            Date        Open        High         Low       Close   Adj Close  \
0     2011-12-15  154.740005  154.949997  151.710007  152.330002  152.330002
1     2011-12-16  154.309998  155.369995  153.899994  155.229996  155.229996
2     2011-12-19  155.479996  155.860001  154.360001  154.869995  154.869995
3     2011-12-20  156.820007  157.429993  156.580002  156.979996  156.979996
4     2011-12-21  156.979996  157.529999  156.130005  157.160004  157.160004
...          ...         ...         ...         ...         ...         ...
1713  2018-12-24  119.570000  120.139999  119.570000  120.019997  120.019997
1714  2018-12-26  120.620003  121.000000  119.570000  119.660004  119.660004
1715  2018-12-27  120.570000  120.900002  120.139999  120.570000  120.570000
1716  2018-12-28  120.800003  121.080002  120.720001  121.059998  121.059998
1717  2018-12-31  120.980003  121.260002  120.830002  121.250000  121.250000

        Volume     SP_open     SP_high      SP_low  ...    GDX_Low  GDX_Close  \
0     21521900  123.029999  123.199997  121.989998  ...  51.570000  51.680000
1     18124300  122.230003  122.949997  121.300003  ...  52.040001  52.680000
2     12547200  122.059998  122.320000  120.029999  ...  51.029999  51.169998
3      9136300  122.180000  124.139999  120.370003  ...  52.369999  52.990002
4     11996100  123.930000  124.360001  122.750000  ...  52.419998  52.959999
...        ...         ...         ...         ...  ...        ...        ...
1713   9736400  239.039993  240.839996  234.270004  ...  20.650000  21.090000
1714  14293500  235.970001  246.179993  233.759995  ...  20.530001  20.620001
1715  11874400  242.570007  248.289993  238.960007  ...  20.700001  20.969999
1716   6864700  249.580002  251.399994  246.449997  ...  20.570000  20.600000
1717   8449400  249.559998  250.190002  247.470001  ...  20.559999  21.090000

      GDX_Adj Close  GDX_Volume   USO_Open   USO_High    USO_Low  USO_Close  \
0         48.973877    20605600  36.900002  36.939999  36.049999  36.130001
1         49.921513    16285400  36.180000  36.500000  35.730000  36.270000
2         48.490578    15120200  36.389999  36.450001  35.930000  36.200001
3         50.215282    11644900  37.299999  37.610001  37.220001  37.560001
4         50.186852     8724300  37.669998  38.240002  37.520000  38.110001
...             ...         ...        ...        ...        ...        ...
1713      21.090000    60507000   9.490000   9.520000   9.280000   9.290000
1714      20.620001    76365200   9.250000   9.920000   9.230000   9.900000
1715      20.969999    52393000   9.590000   9.650000   9.370000   9.620000
1716      20.600000    49835000   9.540000   9.650000   9.380000   9.530000
1717      21.090000    53866600   9.630000   9.710000   9.440000   9.660000

      USO_Adj Close  USO_Volume
0         36.130001    12616700
1         36.270000    12578800
2         36.200001     7418200
3         37.560001    10041600
4         38.110001    10728000
...             ...         ...
1713       9.290000    21598200
1714       9.900000    40978800
1715       9.620000    36578700
1716       9.530000    22803400
1717       9.660000    28417400

[1718 rows x 81 columns]
(1718, 81)
Date              object
Open             float64
High             float64
Low              float64
Close            float64
                  ...
USO_High         float64
USO_Low          float64
USO_Close        float64
USO_Adj Close    float64
USO_Volume         int64
Length: 81, dtype: object

In [58]:
# Read the oil_price file
oil = pd.read_csv('oil_price.csv')
# View the data
print(oil)
# View the number of rows and columns
print(oil.shape)
# View the data types
print(oil.dtypes)

            Date   Price    Open    High     Low     Vol.
0     2011-12-01  100.20  100.51  101.17   98.87  275.86K
1     2011-12-02  100.96  100.00  101.56   99.76  245.92K
2     2011-12-05  100.99  101.23  102.44  100.24  239.38K
3     2011-12-06  101.28  100.45  101.42  100.20  217.03K
4     2011-12-07  100.49  101.11  101.94   99.67  330.53K
...          ...     ...     ...     ...     ...      ...
1839  2018-12-25   43.16   43.00   43.25   42.88        -
1840  2018-12-26   46.22   42.85   47.00   42.52  698.41K
1841  2018-12-27   44.61   46.58   46.70   44.37  665.59K
1842  2018-12-28   45.33   45.44   46.22   44.42  564.39K
1843  2018-12-31   45.41   45.22   46.53   44.73  476.97K

[1844 rows x 6 columns]
(1844, 6)
Date      object
Price    float64
Open     float64
High     float64
Low      float64
Vol.      object
dtype: object

In [60]:
# Subset the gold DataFrame
gold_subset = gold[['Date', 'Open', 'High', 'Low']]

# Slice the gold_subset to 500 rows
gold_subset = gold_subset.iloc[:500]

# View the gold_subset
print(gold_subset.shape)
print(gold.dtypes)

(500, 4)
Date              object
Open             float64
High             float64
Low              float64
Close            float64
                  ...
USO_High         float64
USO_Low          float64
USO_Close        float64
USO_Adj Close    float64
USO_Volume         int64
Length: 81, dtype: object

In [5]:
# Determine the missing values
gold_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

In [6]:
# Return max value of the column Open
print(round(gold_subset['Open'].max(), 2))

# Return min of the column Open
print(round(gold_subset['Open'].min(), 2))

173.2
117.58

In [7]:
# Return max value of the column High
print(round(gold_subset['High'].max(), 2))

# Return min of the column Open
print(gold_subset['High'].min())

174.07
118.18

In [8]:
# Return max value of the column Low
print(round(gold_subset['Low'].max(), 2))

# Return min of the column Open
print(round(gold_subset['Low'].min(), 2))

172.92
116.74

In [9]:
# Determine the mean and 75th percentile values of each column
print(gold_subset.describe())

             Open        High         Low
count  500.000000  500.000000  500.000000
mean   149.033480  149.774340  148.266740
std     16.923214   16.919180   16.871447
min    117.580002  118.180000  116.739998
25%    132.134998  133.144997  131.192501
50%    155.070000  155.610001  154.360001
75%    161.862500  162.577500  161.149994
max    173.199997  174.070007  172.919998

In [62]:
# Subset the oil DataFrame
oil_subset = oil[['Date', 'Open', 'High', 'Low']]
# Slice the DataFrame to only 500 rows
oil_subset = oil_subset.iloc[:500]
# View the new DataFrame
print(oil_subset.shape)
print(oil_subset.dtypes)

(500, 4)
Date     object
Open    float64
High    float64
Low     float64
dtype: object

In [11]:
# Determine the missing values
oil_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

In [12]:
# Determine the maximum and minimum values for the column Open
print(oil_subset['Open'].max())
print(oil_subset['Open'].min())

110.28
78.11

In [13]:
# Determine the maximum and minimum values for the column High
print(oil_subset['High'].max())
print(oil_subset['High'].min())

112.24
79.68

In [14]:
# Determine the maximum and minimum values for the column Low
print(oil_subset['Low'].max())
print(oil_subset['Low'].min())

109.11
77.28

In [15]:
# Determine the mean and 75th percentile values of each column
print(oil_subset.describe())

             Open        High         Low
count  500.000000  500.000000  500.000000
mean    96.196620   97.153780   95.084320
std      6.991871    6.945661    7.003769
min     78.110000   79.680000   77.280000
25%     91.707500   92.627500   90.645000
50%     95.790000   96.640000   94.820000
75%    102.002500  102.962500  100.847500
max    110.280000  112.240000  109.110000

In [68]:
# Determine the average of gold per day.
# Write a user-defined function.
def avg_col3(x, y, z):
    a = (x + y + z)/3
    return a

# Insert avg into a new column.
gold_subset['Average_Gold'] = avg_col3(gold_subset['Open'], gold_subset['High'], gold_subset['Low'])

# View the DataFrame.
gold_subset.head()

         Date        Open        High         Low  Average_Gold
0  2011-12-15  154.740005  154.949997  151.710007    153.800003
1  2011-12-16  154.309998  155.369995  153.899994    154.526662
2  2011-12-19  155.479996  155.860001  154.360001    155.233333
3  2011-12-20  156.820007  157.429993  156.580002    156.943334
4  2011-12-21  156.979996  157.529999  156.130005    156.880000

In [70]:
# Determine the average of oil per day.
# Write a user-defined function.
def avg_col3(x, y, z):
    a = (x + y + z)/3
    return a

# Insert avg into a new column.
oil_subset['Average_Oil'] = avg_col3(oil_subset['Open'], oil_subset['High'], oil_subset['Low'])

# View the DataFrame.
oil_subset.head()

         Date    Open    High     Low  Average_Oil
0  2011-12-01  100.51  101.17   98.87   100.183333
1  2011-12-02  100.00  101.56   99.76   100.440000
2  2011-12-05  101.23  102.44  100.24   101.303333
3  2011-12-06  100.45  101.42  100.20   100.690000
4  2011-12-07  101.11  101.94   99.67   100.906667

In [72]:
# Convert the daily average price of gold to British Pounds
gold_subset['avg_gold_GBP'] = gold_subset['Average_Gold'].apply(lambda x: x * 0.8)

gold_subset.head()

         Date        Open        High         Low  Average_Gold  avg_gold_GBP
0  2011-12-15  154.740005  154.949997  151.710007    153.800003    123.040002
1  2011-12-16  154.309998  155.369995  153.899994    154.526662    123.621330
2  2011-12-19  155.479996  155.860001  154.360001    155.233333    124.186666
3  2011-12-20  156.820007  157.429993  156.580002    156.943334    125.554667
4  2011-12-21  156.979996  157.529999  156.130005    156.880000    125.504000

In [74]:
# Convert the daily average price of gold to British Pounds
oil_subset['avg_oil_GBP'] = oil_subset['Average_Oil'].apply(lambda x: x * 0.8)

oil_subset.head()

         Date    Open    High     Low  Average_Oil  avg_oil_GBP
0  2011-12-01  100.51  101.17   98.87   100.183333    80.146667
1  2011-12-02  100.00  101.56   99.76   100.440000    80.352000
2  2011-12-05  101.23  102.44  100.24   101.303333    81.042667
3  2011-12-06  100.45  101.42  100.20   100.690000    80.552000
4  2011-12-07  101.11  101.94   99.67   100.906667    80.725333

In [80]:
# Subset the two DataFrames so that each only contains the date and 
# average gold and oil prices in GBP.
gold = gold_subset[['Date', 'avg_gold_GBP']]
print(gold.head())

oil = oil_subset[['Date', 'avg_oil_GBP']]
print(oil.head())

         Date  avg_gold_GBP
0  2011-12-15    123.040002
1  2011-12-16    123.621330
2  2011-12-19    124.186666
3  2011-12-20    125.554667
4  2011-12-21    125.504000
         Date  avg_oil_GBP
0  2011-12-01    80.146667
1  2011-12-02    80.352000
2  2011-12-05    81.042667
3  2011-12-06    80.552000
4  2011-12-07    80.725333

In [82]:
# Merge the two DataFrames.
gold_oil = pd.merge(gold, oil, on='Date', how='left')

gold_oil

           Date  avg_gold_GBP  avg_oil_GBP
0    2011-12-15    123.040002    75.784000
1    2011-12-16    123.621330    74.861333
2    2011-12-19    124.186666    74.858667
3    2011-12-20    125.554667    76.194667
4    2011-12-21    125.504000    78.288000
..          ...           ...          ...
495  2014-01-27     97.181334          NaN
496  2014-01-28     96.834668          NaN
497  2014-01-29     97.554667          NaN
498  2014-01-30     95.863999          NaN
499  2014-02-03     96.773334          NaN

[500 rows x 3 columns]